@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a la Inmobiliaria!</h1>
    <p>Estamos aquí para ayudarte a encontrar tu hogar ideal. <a href="https://github.com/Bongo117/Proyecto-inmobiliaria-Soto-Luciano.git" target="_blank">Visita nuestro repositorio en GitHub</a>.</p>
</div>
